<% if @range == "Artist" || @range == "Song" %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
  <h2>"<%= params[:word] %>"の検索結果</h2>

  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th>投稿画像</th>
        <th>アーティスト名</th>
        <th>曲名</th>
        <th>タイトル</th>
        <th>投稿日時</th>
        <th colspan="5"></th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
      <tr>
        <td><%= image_tag post.get_image, size: '50x50' %></td>
        <td><%= post.artist_name %></td>
        <td><%= post.song_title %></td>
        <td><%= link_to post.title,post_path(post) %></td>
        <td><%= l post.created_at %></td>
        <td><%= link_to "Show",post_path(post) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
    </div>
  <div class="col-md-12 d-flex justify-content-center">
      <%= paginate @posts %>
  </div>
  </div>
</div>

<% elsif  @range == "User"%>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
  <h2>"<%= params[:word] %>"の検索結果</h2>

  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th>ユーザ画像</th>
        <th>ユーザ名</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_image, size: '50x50' %></td>
        <td><%= link_to user.name,user_path(user.id) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  <div class="col-md-12 d-flex justify-content-center">
      <%= paginate @users %>
  </div>
  </div>
</div>
<% else %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
  <h2>"<%= @genre.name %>"の検索結果</h2>

  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th>投稿画像</th>
        <th>アーティスト名</th>
        <th>曲名</th>
        <th>タイトル</th>
        <th>投稿日時</th>
        <th colspan="5"></th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
      <tr>
        <td><%= image_tag post.get_image, size: '50x50' %></td>
        <td><%= post.artist_name %></td>
        <td><%= post.song_title %></td>
        <td><%= link_to post.title,post_path(post) %></td>
        <td><%= l post.created_at %></td>
        <td><%= link_to "Show",post_path(post) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  <div class="col-md-12 d-flex justify-content-center">
      <%= paginate @posts %>
  </div>
  </div>
</div>
<% end %>