<div class="container px-5 px-sm-0">
<div class="row">
  <div class="col-sm-4 text-center">
    <h2>新規会員登録</h2>
  </div>
</div>

<%= form_with model: @user, url: user_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
<div class="row">
  <div class="col-sm-12 text-center">
    <div class="field">
      <div class="row">
        <div class="col-sm-6">
          <%= f.label :name, "ユーザ名" %>
        </div>
        <div class="col-sm-6 text-left">
          <%= f.text_field :name %>
        </div>
      </div>
    </div>


    <div class="field">
      <div class="row">
        <div class="col-sm-6">
          <%= f.label :email,"メールアドレス" %>
        </div>
        <div class="col-sm-6 text-left">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>
    </div>


    <div class="field">
      <div class="row">
        <div class="col-sm-6">
          <%= f.label :password,"パスワード(6文字以上)" %>
        </div>
        <div class="col-sm-6 text-left">
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="row">
        <div class="col-sm-6">
          <%= f.label :password_confirmation,"パスワード(確認用)" %>
        </div>
        <div class="col-sm-6 text-left">
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5 mb-5">
  <div class="col-sm-12 text-center">
    <%= f.submit "新規登録",class: "btn btn-dark" %>
  </div>
</div>
<% end %>
</div>

