<div class="row">
  <div class="col-sm-5 text-center">
    <h2>ユーザ情報編集画面</h2>
  </div>
  <div class="col-sm-7 text-center">
    <%= link_to "退会する",user_check_path,class: "btn btn-danger" %>
  </div>
</div>

<%= form_with model: @user, url: user_path,method: :patch do |f| %>
<div class="row">
  <div class="col-sm-12 text-center">
    <div class="field">
      <div class="row">
        <div class="col-sm-6">
          <%= f.label :name, "ユーザ名" %>
        </div>
        <div class="col-sm-6 text-left">
          <%= f.text_field :name %>
        </div>
      </div>
    </div>


    <div class="field">
      <div class="row">
        <div class="col-sm-6">
          <%= f.label "ユーザ設定画像" %>
        </div>
        <div class="col-sm-6 text-left">
          <%= f.file_field :user_image, accept: "image/*" %>
        </div>
      </div>
    </div>


    <div class="field">
      <div class="row">
        <div class="col-sm-6">
          <%= f.label :email,"メールアドレス" %>
        </div>
        <div class="col-sm-6 text-left">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>
    </div>


    <div class="field">
      <div class="row">
        <div class="col-sm-6">
          <%= f.label :introduction,"自己紹介文" %>
        </div>
        <div class="col-sm-3 text-left">
          <%= f.text_area :introduction,rows: 5,class: "form-control" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5 mb-5">
  <div class="col-sm-12 text-center">
    <%= f.submit "更新",class: "btn btn-success" %>
  </div>
</div>
<% end %>

